# Visual Studio
.vscode/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
.env

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Dependencies
packages/
node_modules/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# RAR archive files
*.rar

# Files that might appear on USB drives or network shares
.Spotlight-V100

# Hidden folders and files
.fseventsd
.Trashes
.idea
